.team-wrapper {

    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.inner-width {
    max-width: 1170px;
    margin: auto;
    padding: 40px;
    overflow: hidden;
}

.team-section h2 {
    font-weight: normal;
    color: #5f5d60;
    display: inline-block;
    border-bottom: 4px solid #1B9CFC;
    padding-bottom: 5px;
}

.pers {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pe {
    width: 25%;
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
    margin: 25px 15px;

}

.pe:hover {
    box-shadow: 0 0 10px #413d3db3;
    border-radius: 10px;
}

.pe img {
    width: 120px;
    height: 120px;
}

.p-name {
    margin: 15px 0;
}

.p-des {
    font-style: italic;
    color: #25CCF7;
}

.p-sm {
    margin-top: 12px;
}

.p-sm a {
    margin: 0 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.p-sm a:hover {
    transform: scale(1.5);
}

.p-sm a i {
    color: #333;
    line-height: 30px;

}